img {
	border-radius: 90px;
}

a, p, ul {
	font-family: 'Lato', sans-serif;
	list-style: none;
	text-decoration: none;
	color: #181818;
	font-size: 14px;
	padding-top: 15px;
}

h2 {
	color: #444444;
}

section {
	border-top: 1px solid #dedede;
}

.clear {
	clear: both;
}

.mianDetails {
	border-bottom: 2px solid #cf8a05;
	margin: 0 10px;
}

.sectionTitle {
	color: #cf8a05;
	float: left;
	width: 25%;
	font-family: 'Rokkitt', Helvetica, sans-serif;
	padding: 1px;
	font-size: 20px;
	
}

.sectionContent {
	float: right;
	width: 72.5%;
	color: #181818;

}

.subDetails {
	font-family: Arial, Helvetica, sans-serif;
	margin: 1px;
	border: 1px;
	color: #181818;
	max-height: 1px;
}

.keySkills {
	column-count: 3;
	list-style: none;
}

#headshot {
	width: 12.5%;
	float: left;
	margin-right: 50px;
	padding: 2px;
}

#name {
	float: left;
	font-weight: bold;
	font-family: 'Helvetica', sans-serif;
	color: #444444;
}

#contactDetails {
	float: right;
	color: #181818;
	list-style: none;
}

#mainArea {
border: 100px;
margin: 0 10px;
}

#top {
	margin: 40px 100px 30px 40px;
	background-color: #f3f3f3;
	font-family: 'Lato', sans-serif;
}