body {
	background-color: #f3f3f3;
	font-family: 'Lato' , sans-serif;
}

img {
	border-radius: 90px;
	width: 90px;
	margin: 15px;
}
h1, h2{
	font-family: 'Rokkitt',sans-serif;
	font-weight: normal;
}
ul, a, p {
	font-family: 'Lato', sans-serif;
	list-style: none;
	text-decoration: none;
	color: black;
	font-size: 14px;
	padding-top: 15px;
}

.clear {
	clear: both;
}
.mianDetails{
		border-bottom: 2px solid #cf8a05;
margin: 5px;
}
.divs{ 
	border-bottom: 1px solid #dedede;
}
.sectionTitle {
	color: #cf8a05;
	float: left;
	width: 25%;
	font-family: 'Rokkitt', Helvetica, sans-serif;
	padding: 5px;
	
}

.sectionContent {
	float: right;
	width: 72.5%;
    border: 1px;
}

.subDetails {
	font-family: Arial, Helvetica, sans-serif;
	margin:  1px;
	border: 1px;
}

.keySkills {
	column-count: 3;
}

#headshot {
	width: 12.5%;
	float: left;
	margin-right: 50px;
	padding: 2px;
}

#name {
	float: left;
	font-weight: bold;
}

#contactDetails {
	float: right;
}

#top {
	margin: 40px 100px 30px 40px;
}

#name {
	font-family: 'Lato', 'sans-serif';
}
